body {
    font-family: 'EB Garamond', serif;
    font-size: 1.7em;
    background-image: url('../img/groovepaper.png');
    opacity: 0.9;
}

a, a:visited {
    color:black;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
}

.page-header {
    border-bottom: 5px #EEE solid;
    padding-bottom: 27px
}

.page-header h1 {
    font-size: 3.5em;
    text-align: center;
}

.content h1  {
    font-size: 32px;
}

article {
    border-bottom: 5px #EEE solid;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

article p {
    text-align: justify;
    font-size: 1.1em;
    margin-top:0;
    margin-bottom: 10px;
}

article a,
article a:hover {
    text-decoration: underline;
}

a.go-full-post {
    text-align: right;
    display: block;
    margin: 5px 0;
    font-size: 19px;
}

h5 {
    font-size: 22px;
}

.anchor {
    display: none;
}

iframe {
    opacity: 0.9;
    border: 0;
    width: 700px;
    height: 424px;
}

/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
  display: none;
}

/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

@media (max-width: 767px) {
    .iframe-container {
        position: relative;
        padding-bottom: 56.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
    }

    article iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .share {
        width: 100%;
    }
}
